@model CHSystem.ViewModels.Locations.LocationsListVM

@{
    ViewBag.Title = "List Locations";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Edit")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBoxFor(model => model.Search, new { @class = "form-control" })
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @{
                Model.Props["sortOrder"] = Model.SortOrder == "name_asc" ? "name_desc" : "name_asc";
                @Html.ActionLink("Name", "List", "Locations", new RouteValueDictionary(Model.Props), null)
            }
        </th>
        <th>
            @{
                Model.Props["sortOrder"] = Model.SortOrder == "address_asc" ? "address_desc" : "address_asc";
                @Html.ActionLink("Address", "List", "Locations", new RouteValueDictionary(Model.Props), null)
            }
        </th>
        <th>Floor</th>
        <th>Room Number</th>
        <th></th>
    </tr>

@foreach (var item in Model.Locations) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Floor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

@Html.Partial("~/Views/Shared/PartialViews/_PagingPartial.cshtml", Model.Pager)
<br />