@model CHSystem.ViewModels.Halls.HallsListVM

@{
    ViewBag.Title = "List";
}

@section footerSection {
    @Html.Partial("~/Views/Shared/PartialViews/_DeleteConfirmation.cshtml")
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Edit")
</p>


@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBoxFor(model => model.Search, new { @class = "form-control" })
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
}


<table class="table">
    <tr>
        <th>
            @{
                Model.Props["sortOrder"] = Model.SortOrder == "name_asc" ? "name_desc" : "name_asc";
                @Html.ActionLink("Name", "List", "Halls", new RouteValueDictionary(Model.Props), null)
            }
        </th>
        <th>
            @{
                Model.Props["sortOrder"] = Model.SortOrder == "loc_asc" ? "loc_desc" : "loc_asc";
                @Html.ActionLink("Location", "List", "Halls", new RouteValueDictionary(Model.Props), null)
            }
        </th>
        <th></th>
    </tr>

@foreach (var hall in Model.Halls) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => hall.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => hall.Location.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = hall.ID }) |
            <a href="#" data-toggle="modal" data-target="#modal-delete-confirmation" data-url="/Halls/Delete/@hall.ID" data-additionalinfo="@hall.Name">
                Delete
            </a>
        </td>
    </tr>
}

</table>

@Html.Partial("~/Views/Shared/PartialViews/_PagingPartial.cshtml", Model.Pager)
<br />