@model CHSystem.ViewModels.Events.EventsListVM

@{
    ViewBag.Title = "List";
}

@section footerSection {
    @Html.Partial("~/Views/Shared/PartialViews/_DeleteConfirmation.cshtml")
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Edit")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBoxFor(model => model.Search, new { @class = "form-control" })
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @{
                Model.Props["sortOrder"] = Model.SortOrder == "name_asc" ? "name_desc" : "name_asc";
                @Html.ActionLink("Name", "List", "Events", new RouteValueDictionary(Model.Props), null)
            }
        </th>
        <th>
            @{
                 Model.Props["sortOrder"] = Model.SortOrder == "hall_asc" ? "hall_desc" : "hall_asc";
                @Html.ActionLink("Hall", "List", "Events", new RouteValueDictionary(Model.Props), null)
            }   
        </th>
        <th>
            @{
                Model.Props["sortOrder"] = Model.SortOrder == "start_asc" ? "start_desc" : "start_asc";
                @Html.ActionLink("Start", "List", "Events", new RouteValueDictionary(Model.Props), null)
            }
        </th>
        <th>
            @{
                Model.Props["sortOrder"] = Model.SortOrder == "end_asc" ? "end_desc" : "end_asc";
                @Html.ActionLink("End", "List", "Events", new RouteValueDictionary(Model.Props), null)
            }
        </th>
        <th></th>
    </tr>

@foreach (var CHevent in Model.Events) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => CHevent.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => CHevent.Hall.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => CHevent.Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => CHevent.End)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = CHevent.ID }) |
            <a href="#" data-toggle="modal" data-target="#modal-delete-confirmation" data-url="/Events/Delete/@CHevent.ID" data-additionalinfo="@CHevent.Name">
                Delete
            </a>
        </td>
    </tr>
}

</table>


@Html.Partial("~/Views/Shared/PartialViews/_PagingPartial.cshtml", Model.Pager)
<br />